/*
 * Avob VTN Rest API
 * Description
 *
 * OpenAPI spec version: API TOS
 * Contact: bzanni@avob.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.avob.server.oadrvtn20b.api;

import com.avob.server.oadrvtn20b.handler.ApiCallback;
import com.avob.server.oadrvtn20b.handler.ApiClient;
import com.avob.server.oadrvtn20b.handler.ApiException;
import com.avob.server.oadrvtn20b.handler.ApiResponse;
import com.avob.server.oadrvtn20b.handler.Configuration;
import com.avob.server.oadrvtn20b.handler.Pair;
import com.avob.server.oadrvtn20b.handler.ProgressRequestBody;
import com.avob.server.oadrvtn20b.handler.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;



import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class RabbitmqHttpAuthControllerApi {
    private ApiClient apiClient;

    public RabbitmqHttpAuthControllerApi() {
        this(Configuration.getDefaultApiClient());
    }

    public RabbitmqHttpAuthControllerApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /* Build call for resourceUsingDELETE */
    private com.squareup.okhttp.Call resourceUsingDELETECall(String name, String permission, String resource, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/auth/resource".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "name", name));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "permission", permission));
        if (resource != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "resource", resource));
        if (username != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "username", username));
        if (vhost != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "vhost", vhost));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call resourceUsingDELETEValidateBeforeCall(String name, String permission, String resource, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = resourceUsingDELETECall(name, permission, resource, username, vhost, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * resource
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String resourceUsingDELETE(String name, String permission, String resource, String username, String vhost) throws ApiException {
        ApiResponse<String> resp = resourceUsingDELETEWithHttpInfo(name, permission, resource, username, vhost);
        return resp.getData();
    }

    /**
     * resource
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> resourceUsingDELETEWithHttpInfo(String name, String permission, String resource, String username, String vhost) throws ApiException {
        com.squareup.okhttp.Call call = resourceUsingDELETEValidateBeforeCall(name, permission, resource, username, vhost, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * resource (asynchronously)
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call resourceUsingDELETEAsync(String name, String permission, String resource, String username, String vhost, final ApiCallback<String> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = resourceUsingDELETEValidateBeforeCall(name, permission, resource, username, vhost, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for resourceUsingGET */
    private com.squareup.okhttp.Call resourceUsingGETCall(String name, String permission, String resource, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/auth/resource".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "name", name));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "permission", permission));
        if (resource != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "resource", resource));
        if (username != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "username", username));
        if (vhost != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "vhost", vhost));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call resourceUsingGETValidateBeforeCall(String name, String permission, String resource, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = resourceUsingGETCall(name, permission, resource, username, vhost, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * resource
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String resourceUsingGET(String name, String permission, String resource, String username, String vhost) throws ApiException {
        ApiResponse<String> resp = resourceUsingGETWithHttpInfo(name, permission, resource, username, vhost);
        return resp.getData();
    }

    /**
     * resource
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> resourceUsingGETWithHttpInfo(String name, String permission, String resource, String username, String vhost) throws ApiException {
        com.squareup.okhttp.Call call = resourceUsingGETValidateBeforeCall(name, permission, resource, username, vhost, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * resource (asynchronously)
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call resourceUsingGETAsync(String name, String permission, String resource, String username, String vhost, final ApiCallback<String> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = resourceUsingGETValidateBeforeCall(name, permission, resource, username, vhost, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for resourceUsingHEAD */
    private com.squareup.okhttp.Call resourceUsingHEADCall(String name, String permission, String resource, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/auth/resource".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "name", name));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "permission", permission));
        if (resource != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "resource", resource));
        if (username != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "username", username));
        if (vhost != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "vhost", vhost));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "HEAD", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call resourceUsingHEADValidateBeforeCall(String name, String permission, String resource, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = resourceUsingHEADCall(name, permission, resource, username, vhost, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * resource
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String resourceUsingHEAD(String name, String permission, String resource, String username, String vhost) throws ApiException {
        ApiResponse<String> resp = resourceUsingHEADWithHttpInfo(name, permission, resource, username, vhost);
        return resp.getData();
    }

    /**
     * resource
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> resourceUsingHEADWithHttpInfo(String name, String permission, String resource, String username, String vhost) throws ApiException {
        com.squareup.okhttp.Call call = resourceUsingHEADValidateBeforeCall(name, permission, resource, username, vhost, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * resource (asynchronously)
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call resourceUsingHEADAsync(String name, String permission, String resource, String username, String vhost, final ApiCallback<String> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = resourceUsingHEADValidateBeforeCall(name, permission, resource, username, vhost, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for resourceUsingOPTIONS */
    private com.squareup.okhttp.Call resourceUsingOPTIONSCall(String name, String permission, String resource, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/auth/resource".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "name", name));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "permission", permission));
        if (resource != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "resource", resource));
        if (username != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "username", username));
        if (vhost != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "vhost", vhost));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "OPTIONS", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call resourceUsingOPTIONSValidateBeforeCall(String name, String permission, String resource, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = resourceUsingOPTIONSCall(name, permission, resource, username, vhost, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * resource
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String resourceUsingOPTIONS(String name, String permission, String resource, String username, String vhost) throws ApiException {
        ApiResponse<String> resp = resourceUsingOPTIONSWithHttpInfo(name, permission, resource, username, vhost);
        return resp.getData();
    }

    /**
     * resource
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> resourceUsingOPTIONSWithHttpInfo(String name, String permission, String resource, String username, String vhost) throws ApiException {
        com.squareup.okhttp.Call call = resourceUsingOPTIONSValidateBeforeCall(name, permission, resource, username, vhost, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * resource (asynchronously)
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call resourceUsingOPTIONSAsync(String name, String permission, String resource, String username, String vhost, final ApiCallback<String> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = resourceUsingOPTIONSValidateBeforeCall(name, permission, resource, username, vhost, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for resourceUsingPATCH */
    private com.squareup.okhttp.Call resourceUsingPATCHCall(String name, String permission, String resource, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/auth/resource".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "name", name));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "permission", permission));
        if (resource != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "resource", resource));
        if (username != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "username", username));
        if (vhost != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "vhost", vhost));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call resourceUsingPATCHValidateBeforeCall(String name, String permission, String resource, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = resourceUsingPATCHCall(name, permission, resource, username, vhost, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * resource
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String resourceUsingPATCH(String name, String permission, String resource, String username, String vhost) throws ApiException {
        ApiResponse<String> resp = resourceUsingPATCHWithHttpInfo(name, permission, resource, username, vhost);
        return resp.getData();
    }

    /**
     * resource
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> resourceUsingPATCHWithHttpInfo(String name, String permission, String resource, String username, String vhost) throws ApiException {
        com.squareup.okhttp.Call call = resourceUsingPATCHValidateBeforeCall(name, permission, resource, username, vhost, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * resource (asynchronously)
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call resourceUsingPATCHAsync(String name, String permission, String resource, String username, String vhost, final ApiCallback<String> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = resourceUsingPATCHValidateBeforeCall(name, permission, resource, username, vhost, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for resourceUsingPOST */
    private com.squareup.okhttp.Call resourceUsingPOSTCall(String name, String permission, String resource, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/auth/resource".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "name", name));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "permission", permission));
        if (resource != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "resource", resource));
        if (username != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "username", username));
        if (vhost != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "vhost", vhost));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call resourceUsingPOSTValidateBeforeCall(String name, String permission, String resource, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = resourceUsingPOSTCall(name, permission, resource, username, vhost, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * resource
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String resourceUsingPOST(String name, String permission, String resource, String username, String vhost) throws ApiException {
        ApiResponse<String> resp = resourceUsingPOSTWithHttpInfo(name, permission, resource, username, vhost);
        return resp.getData();
    }

    /**
     * resource
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> resourceUsingPOSTWithHttpInfo(String name, String permission, String resource, String username, String vhost) throws ApiException {
        com.squareup.okhttp.Call call = resourceUsingPOSTValidateBeforeCall(name, permission, resource, username, vhost, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * resource (asynchronously)
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call resourceUsingPOSTAsync(String name, String permission, String resource, String username, String vhost, final ApiCallback<String> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = resourceUsingPOSTValidateBeforeCall(name, permission, resource, username, vhost, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for resourceUsingPUT */
    private com.squareup.okhttp.Call resourceUsingPUTCall(String name, String permission, String resource, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/auth/resource".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "name", name));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "permission", permission));
        if (resource != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "resource", resource));
        if (username != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "username", username));
        if (vhost != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "vhost", vhost));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call resourceUsingPUTValidateBeforeCall(String name, String permission, String resource, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = resourceUsingPUTCall(name, permission, resource, username, vhost, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * resource
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String resourceUsingPUT(String name, String permission, String resource, String username, String vhost) throws ApiException {
        ApiResponse<String> resp = resourceUsingPUTWithHttpInfo(name, permission, resource, username, vhost);
        return resp.getData();
    }

    /**
     * resource
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> resourceUsingPUTWithHttpInfo(String name, String permission, String resource, String username, String vhost) throws ApiException {
        com.squareup.okhttp.Call call = resourceUsingPUTValidateBeforeCall(name, permission, resource, username, vhost, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * resource (asynchronously)
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call resourceUsingPUTAsync(String name, String permission, String resource, String username, String vhost, final ApiCallback<String> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = resourceUsingPUTValidateBeforeCall(name, permission, resource, username, vhost, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for topicUsingDELETE */
    private com.squareup.okhttp.Call topicUsingDELETECall(String name, String permission, String resource, String routingKey, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/auth/topic".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "name", name));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "permission", permission));
        if (resource != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "resource", resource));
        if (routingKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "routing_key", routingKey));
        if (username != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "username", username));
        if (vhost != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "vhost", vhost));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call topicUsingDELETEValidateBeforeCall(String name, String permission, String resource, String routingKey, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = topicUsingDELETECall(name, permission, resource, routingKey, username, vhost, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * topic
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String topicUsingDELETE(String name, String permission, String resource, String routingKey, String username, String vhost) throws ApiException {
        ApiResponse<String> resp = topicUsingDELETEWithHttpInfo(name, permission, resource, routingKey, username, vhost);
        return resp.getData();
    }

    /**
     * topic
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> topicUsingDELETEWithHttpInfo(String name, String permission, String resource, String routingKey, String username, String vhost) throws ApiException {
        com.squareup.okhttp.Call call = topicUsingDELETEValidateBeforeCall(name, permission, resource, routingKey, username, vhost, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * topic (asynchronously)
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call topicUsingDELETEAsync(String name, String permission, String resource, String routingKey, String username, String vhost, final ApiCallback<String> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = topicUsingDELETEValidateBeforeCall(name, permission, resource, routingKey, username, vhost, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for topicUsingGET */
    private com.squareup.okhttp.Call topicUsingGETCall(String name, String permission, String resource, String routingKey, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/auth/topic".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "name", name));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "permission", permission));
        if (resource != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "resource", resource));
        if (routingKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "routing_key", routingKey));
        if (username != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "username", username));
        if (vhost != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "vhost", vhost));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call topicUsingGETValidateBeforeCall(String name, String permission, String resource, String routingKey, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = topicUsingGETCall(name, permission, resource, routingKey, username, vhost, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * topic
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String topicUsingGET(String name, String permission, String resource, String routingKey, String username, String vhost) throws ApiException {
        ApiResponse<String> resp = topicUsingGETWithHttpInfo(name, permission, resource, routingKey, username, vhost);
        return resp.getData();
    }

    /**
     * topic
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> topicUsingGETWithHttpInfo(String name, String permission, String resource, String routingKey, String username, String vhost) throws ApiException {
        com.squareup.okhttp.Call call = topicUsingGETValidateBeforeCall(name, permission, resource, routingKey, username, vhost, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * topic (asynchronously)
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call topicUsingGETAsync(String name, String permission, String resource, String routingKey, String username, String vhost, final ApiCallback<String> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = topicUsingGETValidateBeforeCall(name, permission, resource, routingKey, username, vhost, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for topicUsingHEAD */
    private com.squareup.okhttp.Call topicUsingHEADCall(String name, String permission, String resource, String routingKey, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/auth/topic".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "name", name));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "permission", permission));
        if (resource != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "resource", resource));
        if (routingKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "routing_key", routingKey));
        if (username != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "username", username));
        if (vhost != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "vhost", vhost));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "HEAD", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call topicUsingHEADValidateBeforeCall(String name, String permission, String resource, String routingKey, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = topicUsingHEADCall(name, permission, resource, routingKey, username, vhost, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * topic
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String topicUsingHEAD(String name, String permission, String resource, String routingKey, String username, String vhost) throws ApiException {
        ApiResponse<String> resp = topicUsingHEADWithHttpInfo(name, permission, resource, routingKey, username, vhost);
        return resp.getData();
    }

    /**
     * topic
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> topicUsingHEADWithHttpInfo(String name, String permission, String resource, String routingKey, String username, String vhost) throws ApiException {
        com.squareup.okhttp.Call call = topicUsingHEADValidateBeforeCall(name, permission, resource, routingKey, username, vhost, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * topic (asynchronously)
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call topicUsingHEADAsync(String name, String permission, String resource, String routingKey, String username, String vhost, final ApiCallback<String> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = topicUsingHEADValidateBeforeCall(name, permission, resource, routingKey, username, vhost, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for topicUsingOPTIONS */
    private com.squareup.okhttp.Call topicUsingOPTIONSCall(String name, String permission, String resource, String routingKey, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/auth/topic".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "name", name));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "permission", permission));
        if (resource != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "resource", resource));
        if (routingKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "routing_key", routingKey));
        if (username != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "username", username));
        if (vhost != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "vhost", vhost));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "OPTIONS", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call topicUsingOPTIONSValidateBeforeCall(String name, String permission, String resource, String routingKey, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = topicUsingOPTIONSCall(name, permission, resource, routingKey, username, vhost, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * topic
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String topicUsingOPTIONS(String name, String permission, String resource, String routingKey, String username, String vhost) throws ApiException {
        ApiResponse<String> resp = topicUsingOPTIONSWithHttpInfo(name, permission, resource, routingKey, username, vhost);
        return resp.getData();
    }

    /**
     * topic
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> topicUsingOPTIONSWithHttpInfo(String name, String permission, String resource, String routingKey, String username, String vhost) throws ApiException {
        com.squareup.okhttp.Call call = topicUsingOPTIONSValidateBeforeCall(name, permission, resource, routingKey, username, vhost, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * topic (asynchronously)
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call topicUsingOPTIONSAsync(String name, String permission, String resource, String routingKey, String username, String vhost, final ApiCallback<String> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = topicUsingOPTIONSValidateBeforeCall(name, permission, resource, routingKey, username, vhost, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for topicUsingPATCH */
    private com.squareup.okhttp.Call topicUsingPATCHCall(String name, String permission, String resource, String routingKey, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/auth/topic".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "name", name));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "permission", permission));
        if (resource != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "resource", resource));
        if (routingKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "routing_key", routingKey));
        if (username != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "username", username));
        if (vhost != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "vhost", vhost));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PATCH", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call topicUsingPATCHValidateBeforeCall(String name, String permission, String resource, String routingKey, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = topicUsingPATCHCall(name, permission, resource, routingKey, username, vhost, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * topic
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String topicUsingPATCH(String name, String permission, String resource, String routingKey, String username, String vhost) throws ApiException {
        ApiResponse<String> resp = topicUsingPATCHWithHttpInfo(name, permission, resource, routingKey, username, vhost);
        return resp.getData();
    }

    /**
     * topic
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> topicUsingPATCHWithHttpInfo(String name, String permission, String resource, String routingKey, String username, String vhost) throws ApiException {
        com.squareup.okhttp.Call call = topicUsingPATCHValidateBeforeCall(name, permission, resource, routingKey, username, vhost, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * topic (asynchronously)
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call topicUsingPATCHAsync(String name, String permission, String resource, String routingKey, String username, String vhost, final ApiCallback<String> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = topicUsingPATCHValidateBeforeCall(name, permission, resource, routingKey, username, vhost, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for topicUsingPOST */
    private com.squareup.okhttp.Call topicUsingPOSTCall(String name, String permission, String resource, String routingKey, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/auth/topic".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "name", name));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "permission", permission));
        if (resource != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "resource", resource));
        if (routingKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "routing_key", routingKey));
        if (username != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "username", username));
        if (vhost != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "vhost", vhost));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call topicUsingPOSTValidateBeforeCall(String name, String permission, String resource, String routingKey, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = topicUsingPOSTCall(name, permission, resource, routingKey, username, vhost, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * topic
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String topicUsingPOST(String name, String permission, String resource, String routingKey, String username, String vhost) throws ApiException {
        ApiResponse<String> resp = topicUsingPOSTWithHttpInfo(name, permission, resource, routingKey, username, vhost);
        return resp.getData();
    }

    /**
     * topic
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> topicUsingPOSTWithHttpInfo(String name, String permission, String resource, String routingKey, String username, String vhost) throws ApiException {
        com.squareup.okhttp.Call call = topicUsingPOSTValidateBeforeCall(name, permission, resource, routingKey, username, vhost, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * topic (asynchronously)
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call topicUsingPOSTAsync(String name, String permission, String resource, String routingKey, String username, String vhost, final ApiCallback<String> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = topicUsingPOSTValidateBeforeCall(name, permission, resource, routingKey, username, vhost, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for topicUsingPUT */
    private com.squareup.okhttp.Call topicUsingPUTCall(String name, String permission, String resource, String routingKey, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/auth/topic".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (name != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "name", name));
        if (permission != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "permission", permission));
        if (resource != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "resource", resource));
        if (routingKey != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "routing_key", routingKey));
        if (username != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "username", username));
        if (vhost != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "vhost", vhost));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call topicUsingPUTValidateBeforeCall(String name, String permission, String resource, String routingKey, String username, String vhost, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        
        com.squareup.okhttp.Call call = topicUsingPUTCall(name, permission, resource, routingKey, username, vhost, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * topic
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String topicUsingPUT(String name, String permission, String resource, String routingKey, String username, String vhost) throws ApiException {
        ApiResponse<String> resp = topicUsingPUTWithHttpInfo(name, permission, resource, routingKey, username, vhost);
        return resp.getData();
    }

    /**
     * topic
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> topicUsingPUTWithHttpInfo(String name, String permission, String resource, String routingKey, String username, String vhost) throws ApiException {
        com.squareup.okhttp.Call call = topicUsingPUTValidateBeforeCall(name, permission, resource, routingKey, username, vhost, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * topic (asynchronously)
     * 
     * @param name  (optional)
     * @param permission  (optional)
     * @param resource  (optional)
     * @param routingKey  (optional)
     * @param username  (optional)
     * @param vhost  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call topicUsingPUTAsync(String name, String permission, String resource, String routingKey, String username, String vhost, final ApiCallback<String> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = topicUsingPUTValidateBeforeCall(name, permission, resource, routingKey, username, vhost, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /* Build call for userUsingDELETE */
    private com.squareup.okhttp.Call userUsingDELETECall(String password, String username, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/auth/user".replaceAll("\\{format\\}","json");

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        if (password != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "password", password));
        if (username != null)
        localVarQueryParams.addAll(apiClient.parameterToPairs("", "username", username));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "*/*"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "DELETE", localVarQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call userUsingDELETEValidateBeforeCall(String password, String username, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'password' is set
        if (password == null) {
            throw new ApiException("Missing the required parameter 'password' when calling userUsingDELETE(Async)");
        }
        
        // verify the required parameter 'username' is set
        if (username == null) {
            throw new ApiException("Missing the required parameter 'username' when calling userUsingDELETE(Async)");
        }
        
        
        com.squareup.okhttp.Call call = userUsingDELETECall(password, username, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * user
     * 
     * @param password password (required)
     * @param username username (required)
     * @return String
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public String userUsingDELETE(String password, String username) throws ApiException {
        ApiResponse<String> resp = userUsingDELETEWithHttpInfo(password, username);
        return resp.getData();
    }

    /**
     * user
     * 
     * @param password password (required)
     * @param username username (required)
     * @return ApiResponse&lt;String&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<String> userUsingDELETEWithHttpInfo(String password, String username) throws ApiException {
        com.squareup.okhttp.Call call = userUsingDELETEValidateBeforeCall(password, username, null, null);
        Type localVarReturnType = new TypeToken<String>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * user (asynchronously)
     * 
     * @param password password (required)
     * @param username username (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call userUsingDELETEAsync(String password, String username, final ApiCallback<String> callback) throws ApiException {

[...]
