.docker/dummy*
.docker/nodered
.docker/openfire
.docker/postgres
.docker/rabbitmq
.docker/vtn20b
.vagrant
.settings
docker-compose.yml

!OpenADRServerVTN20b/target/OpenADRServerVTN20b-0.1.0-SNAPSHOT.jar
!OpenADRServerVEN20b/target/OpenADRServerVTN20b-0.1.0-SNAPSHOT.jar
# */target*
*/.classpath
*/.project
*/.factorypath
*/.settings
*/.DS_Store
*/.externalToolBuilders
*/*.md

*.png
*.md

.git
.gitignore

*/test*

Dockerfile*
.dockerignore*
generate_test_cert.sh

OpenADRServerVTN20b/frontend/build
OpenADRServerVTN20b/frontend/node_modules
OpenADRServerVTN20b/frontend/package-lock.json