language: java
jdk: openjdk11
script: ./generate_test_cert.sh && mvn clean package -Dspring.profiles.active=test 
after_success:
  - bash <(curl -s https://codecov.io/bash)
cache:
  directories:
  - $HOME/.m2