[
  {rabbit, [
        {auth_mechanisms, ['PLAIN', 'AMQPLAIN', 'EXTERNAL']}
        , {auth_backends, [rabbit_auth_backend_internal, rabbit_auth_backend_cache]}
        ]
   },
   {rabbitmq_auth_backend_cache, [
                                {cached_backend, rabbit_auth_backend_http}
                               ]
  },
  {rabbitmq_auth_backend_http,
   [{http_method,   post},
    {user_path,     "https://vtn.oadr.com:8181/testvtn/auth/user"},
    {vhost_path,    "https://vtn.oadr.com:8181/testvtn/auth/vhost"},
    {resource_path, "https://vtn.oadr.com:8181/testvtn/auth/resource"},
    {topic_path,    "https://vtn.oadr.com:8181/testvtn/auth/topic"}]}
].