<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="log4j.test" status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%t] %-5level %c{1.} - %m%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="/var/log/oadr-vtn20b/oadr-vtn20b.log" filePattern="/var/log/oadr-vtn20b/oadr-vtn20b-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <pattern>%d{dd/MMM/yyyy HH:mm:ss,SSS}- %c{1}: %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="25 MB" />
            </Policies>
            <DefaultRolloverStrategy max="4" />
        </RollingFile>
	</Appenders>
	<Loggers>
		<Logger level="debug" name="com.avob" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Logger level="warn" name="org.springframework" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Logger>
		<Root level="warn">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>