[
  {rabbit, [
        {ssl_listeners, [5671]},{ssl_options, [{cacertfile,           "/opt/oadr-vtn20b/cert/oadr.com.crt"},
                           {certfile,             "/opt/oadr-vtn20b/cert/vtn.oadr.com-rsa.crt"},
                           {keyfile,              "/opt/oadr-vtn20b/cert/vtn.oadr.com-rsa.key"},
                           {verify,               verify_peer},
                           {fail_if_no_peer_cert, true}]}
        , {auth_mechanisms, ['PLAIN', 'AMQPLAIN', 'EXTERNAL']}
        , {auth_backends, [rabbit_auth_backend_internal, rabbit_auth_backend_cache]}
        ]
   },
   {rabbitmq_auth_backend_cache, [
                                {cached_backend, rabbit_auth_backend_http}
                               ]
  },
  {rabbitmq_auth_backend_http,
   [{http_method,   post},
    {user_path,     "https://vtn.oadr.com:8181/testvtn/auth/user"},
    {vhost_path,    "https://vtn.oadr.com:8181/testvtn/auth/vhost"},
    {resource_path, "https://vtn.oadr.com:8181/testvtn/auth/resource"},
    {topic_path,    "https://vtn.oadr.com:8181/testvtn/auth/topic"}]}
].