<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="log4j.test" status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{1.} - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger level="debug" name="com.avob" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger level="warn" name="org.springframework" additivity="false">
			<AppenderRef ref="Console" />
		</Logger>
		<Root level="warn">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
</Configuration>