.page-layout__viewport {
  padding: 8rem 0;
}

/* Style the list */
div.breadcrumbs {
    padding: 10px 16px;
    list-style: none;
    font-size: 14px;
    border:  #dddddd solid 1px; 
    border-radius : 4px;
}

/* Display list items side by side */
div.breadcrumbs span {
    display: inline;
}

/* Add a color to all links inside the list */
div.breadcrumbs span a {
    text-decoration: none;
}

/* Add a color on mouse-over */
div.breadcrumbs span a:hover {
    text-decoration: underline;
}

.react-date-picker__calendar--open {
	z-index:1;
}

.modal-body {
	min-height: 100px;
}


html {
    overflow-y: scroll; 
}

@media (min-width: 768px){
    .navbar-nav>li>a>span.username {
        display:none;
    }
}
